<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>activemq ajax</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>


    <script type="text/javascript" th:src="@{/lib/jquery/jquery-1.4.2.min.js}" src="../static/lib/jquery/jquery-1.4.2.min.js"></script>


<!--
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
-->
<!--
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->
    <script type="text/javascript" th:src="@{/lib/activemq/amq_jquery_adapter.js}"src="../static/lib/activemq/amq_jquery_adapter.js"></script>
    <script type="text/javascript" th:src="@{/lib/activemq/amq.js}" src="../static/lib/activemq/amq.js"></script>

</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">ActiveMQ AJAX</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <label>
                                <input type="radio" name="sendMode" checked onchange="sendType('JS')">JS发送
                            </label>
                            <label>
                                <input type="radio" name="sendMode" onchange="sendType('IN')">接口发送
                            </label>
                        </div>
                    </div>
                </div>

                <textarea class="form-control" id="message"></textarea>
                <button class="btn btn-primary btn-block" onclick="sendMessage()">发送</button>
                <button class="btn btn-info btn-block" onclick="startBatch()">startBatch</button>
                <button class="btn btn-info btn-block" onclick="endBatch()">endBatch</button>
                <button class="btn btn-success btn-block" onclick="getMessageQueue()">getMessageQueue</button>
                <button class="btn btn-danger btn-block" onclick="removeListener()">removeListener</button>
                <button class="btn btn-warning btn-block" onclick="testPollHandler()">testPollHandler</button>

                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        let amq = org.activemq.Amq;
        console.log(amq);

        let clientId = (new Date()).getTime().toString();

        amq.init({
            uri: '/amq',
            logging: true,
            timeout: 20,
            clientId:clientId,
            pollDelay:2,
            sessionInitializedCallback:function () {
                console.log('session init.')
            },
            /**
             * 链接状态处理
             * @param connected true:连接成功，false:连接失败。
             */
            connectStatusHandler:function (connected) {
                console.log(connected)
            }
        });

        let destination = 'topic://AJAX-TEST';
        let messageListener = function (data) {
            console.log(typeof data,data,data.data)
        };


        let type = 'JS';
        let sendType = function (t) {
            type = t;
        };


        amq.addListener(clientId,destination,messageListener);

        let sendMessage = function () {
            let message = $("#message").val();
            if(type === 'JS'){
                console.info('send by js.');
                amq.sendMessage(destination,message);
            }else if (type === 'IN'){
                console.info('send by in.');
                $.get('/activemq/text?textMessage='+message,function (result) {
                    console.log(result.status)
                })
            }
        };
        //startBatch:ƒ ()
        let startBatch = function () {
            let val = amq.startBatch();
            console.log(val);
        };

        //endBatch:ƒ ()
        let endBatch = function () {
            console.log(amq.endBatch());
        };

        //getMessageQueue:ƒ ()
        let getMessageQueue = function () {
            let val = amq.getMessageQueue();
            console.log(val);
        };

        //removeListener:ƒ (id, destination)
        let removeListener= function () {
            let val = amq.removeListener(clientId,destination);
            console.log(val);
        };

        //testPollHandler:ƒ ( data )
        let testPollHandler = function () {
            let val = amq.testPollHandler("fasd");
            console.log(val);
        };
    </script>
</body>
</html>